<div class="container">
    <div class="register">
      <h2>Registrarse</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
  
        <div
          *ngIf="submitted && registerForm.controls['email'].errors?.['required']"
          class="error-message"
        >
          El correo electrónico es requerido.
        </div>
        <div
          *ngIf="submitted && registerForm.controls['email'].errors?.['email']"
          class="error-message"
        >
          Por favor, introduce un correo electrónico válida.
        </div>
        
        <label for="password">Contraseña</label>
        <input 
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
        >
  
        <div
            *ngIf="submitted && registerForm.controls['password'].errors?.['required']"
            class="error-message"    
        >
            La contraseña es requerida.
        </div>
  
        <label for="password">Confirmar contraseña</label>
        <input 
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
        >
  
        <div
            *ngIf="submitted && registerForm.controls['confirmPassword'].errors?.['required']"
            class="error-message"    
        >
            La contraseña es requerida.
        </div>
  
        <button type="submit">Registrarse</button>
        <p>¿Tienes una cuenta? <a href="">¡Ingresa!</a></p>
      </form>
  
      <div *ngIf="registrationSuccess" class="success-message">
        <p>¡Te has registrado existosamente!</p>
        <button class="btnSucces" (click)="closeSuccessMessage()">Ok</button>
      </div>
    </div>
  </div>
    